<%= form_for(@browse) do |f| %>
  <% if @browse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@browse.errors.count, "error") %> prohibited this browse from being saved:</h2>

      <ul>
      <% @browse.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
